body {
    background-color: teal;
    font-family: "Microsoft Sans Serif", "Arial", sans-serif;
    overflow: hidden;
}

.taskbar {
    background: silver;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 999999;
    height: 24px;
    width: 100%;
}
.start-button {
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: silver;
    border: none;
    border-radius: 0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    display: flex;
}

.start-button:active {
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: silver;
    border: none;
    border-radius: 0;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #000000, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    display: flex;
}

#start-menu {
    left: 3px;
    bottom: 25px;
    position: fixed;
    background-color: silver;
    z-index: 999999;
    width: 150px;
}

.smenu-item {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    width: 100%;
    height: 35px;
    text-align: left;
    display: flex;
    align-items: center;
}

.smenu-item:hover {
    background-color: darkblue;
    color: white;
}

.shortcut-icon {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    color: white;
    width: 80px;
    position: fixed;
}

.shortcut-icon:hover {
    cursor: pointer;
}

.shortcut-icon:active {
    background-color: rgb(0 0 255 / 50%);
    cursor: pointer;
}

#window {
    background-color: silver;
}

.window-top {
    background-color: #00008b;
    color: #ffffff;
    padding: 5px;
}

.window-close {
    background-color: silver;
    width: 20px;
    border: none;
    border-radius: 0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    color: black;
    float: right;
}

#textarea-notep {
    width: 100%;
    height: 100%;
    resize: none;
}

#canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
}
